.div-1 {
    background-color:palevioletred;
    height:50px;
    width:50px;
  }
     
  .div-2 {
    background-color: cadetblue; 
    height: 100px;
    width: 100px;
  }
     
  .div-3 {
    background-color: lightpink; 
    height: 200px;
    width: 200px;
  }
  